.display{
  text-align: center;

  width: 12rem;
  height: 4rem;

  background: rgb(61, 58, 58);

  &_output{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 1rem;

    color: #fff;

    &_u{
      color: orangered;
      margin-inline: 1rem;
      font-size: 1.5rem;
    }
  }
  
}